*{
	padding: 0px;
	margin: 0px;
	font-family: "微软雅黑";
}
body{
	min-width: 1280px;
}
a{
	text-decoration: none;
	color: #000;
}
li{
	list-style: none;
}
.header{
	height: 60px;
}
.logo{
	display: inline-block;
	margin-left: 55px;
	font-size: 26px;
	padding-top:10px;
}
.logo img{
	vertical-align: middle;
	margin-right: 10px;
}
.menu{
	float: right;
	position: relative;
}
.menu li{
	width: 110px;
	height: 56px;
	float: left;
	margin-left: 10px;
	text-align: center;
}
.menu li a{
	height: 50px;
	line-height: 50px;
	font-size: 15px;
	color: #8e9197;
}
.menu img{
	vertical-align: middle;
	margin-top: -5px;
}
/*##################鼠标悬浮*/
.menu li:hover{
	outline: -webkit-focus-ring-color auto 5px;
}
.cover{
	height: 690px;
	position: relative;
	color: #fff;
	font-size: 21px;
	background: url(images/firstPart.jpg) no-repeat;
	background-size: cover;
}
.cover_content{
	padding-top:225px;
	padding-left: 113px;
}
.cover_content h1{
	font-size: 60px;
	font-weight: 100;
}
.cover_content p{
	line-height: 50px;
	padding: 10px;
}
.cover_content a{
	display: inline-block;
	width: 230px;
	height: 50px;
	background-color: #e74f4d;
	text-decoration: none;
	font-size: 32px;
	text-align: center;
	line-height: 50px;
	color: #fff;
	margin:10px;
	padding: 10px 30px;
	letter-spacing: 3px;
}
.first_part{
	height:250px;
	font-size: 0;
}
.sec-intro{
	display: inline-block;
	width: 25%;
	font-size: 14px;
	text-align: center;
}
.sec-intro img{
	margin: 40px auto;
}
.sec-intro p{
	height: 51px;
	color: #8d8d8d;
	cursor: pointer;
	border-right:1px solid #8d8d8d;
}
.second_part{
	height: 360px;
	background-color: #ededec;
	position: relative;
}
.second_box{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -410px;
	margin-top: -120px;
}
.second_box img{
	margin: 20px;
	padding-left:353px; 
}
.second_box p{
	font-size: 50px;
	color: #a1a1a1;
	letter-spacing: 5px;
}
.third_part{
	height: 360px;
	background:url(images/mainbody.png) no-repeat;
	background-size: cover;
	position: relative;
}
.third_box{
	padding-top:100px;
	position: absolute;
	left: 50%;
	color: #fff;
	text-align: center;
	margin-left:-407px;
}
.para1{
	font-size: 23px;
	margin-bottom: 10px;
	cursor: pointer;
}
.third_box span{
	display: inline-block;
	width: 30px;
	height: 20px;
	border-top:2px solid #fff; 
}
.third_box form{
	padding-top: 20px;
}
.third_box select{
	font-size: 15px;
	width: 200px;
	height: 30px;
	color: #a1a1a1;
	padding-left: 10px;
}
.third_box input{
	width: 200px;
	height: 30px;
	color: #fff;
	background-color: #be4e48;
	border: none;
	text-align: center;
	font-size: 15px;
	letter-spacing: 10px;
	cursor: pointer;
}
.forth_part{
	height: 600px;
}
